@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 1em; }

body {
  font-family: Roboto;
  width: 100%; }

.paragraph {
  font-weight: 200; }

a {
  color: inherit;
  font-weight: calc(inherit + 100);
  text-decoration: none;
  opacity: 0.75; }
  a:hover {
    opacity: 1; }

.highlight {
  color: #9400D3; }

.header {
  color: #ffffff;
  background: linear-gradient(rgba(148, 0, 211, 0.5), rgba(0, 191, 255, 0.75)), url("../assets/img/header.jpg");
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px 0;
  z-index: 1; }

nav ul {
  list-style-type: none;
  display: flex; }
  nav ul li a {
    color: inherit;
    text-decoration: none;
    margin: 0 15px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - (1rem * 2)) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-1-4 {
    width: calc((100% - (1rem * 3)) / 4); }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

section {
  padding: 2rem 6rem; }
  section:nth-child(even) {
    background-color: #444444;
    color: #ffffff; }
  section:nth-child(odd) {
    background-color: #EEEEEE;
    color: #444444; }

.footer {
  background-color: #444444;
  color: #ffffff;
  padding: 10px; }

.card {
  box-shadow: 1px 1px 5px #444444; }
