@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 1em; }

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 1% auto;
  width: 98%; }

.paragraph {
  font-weight: 200;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 15px; }

a {
  color: inherit;
  font-weight: calc(inherit + 100);
  text-decoration: none;
  opacity: 0.75; }
  a:hover {
    opacity: 1; }

.highlight {
  color: #59DAA4; }

.header {
  position: absolute;
  color: #ffffff;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px 0;
  z-index: 1; }
  .header h2 {
    width: 100%;
    display: block;
    clear: both; }

nav ul {
  list-style-type: none;
  display: flex; }
  nav ul li a {
    color: inherit;
    text-decoration: none;
    margin: 0 15px; }

@media (min-width: 320px) and (max-width: 768px) {
  nav ul {
    display: block; }
    nav ul li {
      width: 100%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - (1rem * 2)) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-1-4 {
    width: calc((100% - (1rem * 3)) / 4); }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }
  @media (min-width: 320px) and (max-width: 768px) {
    .row .col-sm-1 {
      width: 100%;
      margin-bottom: 2rem; } }

section {
  padding: 2rem 6rem;
  color: #ffffff; }
  section:nth-child(3) {
    margin-top: -10%;
    padding-top: 10%; }
  section:nth-child(odd) {
    background-color: #2D353F; }
  section:nth-child(even) {
    background-color: #333B47; }
  section h2, section h3 {
    text-align: center; }

.hero {
  background: linear-gradient(rgba(45, 53, 63, 0.7), rgba(51, 59, 71, 0.7)), url("../assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 75vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%); }
  .hero .hero-content {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero .hero-content h1 {
      font-weight: 500;
      text-align: center; }

@media (min-width: 320px) and (max-width: 768px) {
  section {
    padding: 1rem; }
    section:nth-child(3) {
      margin-top: -15%;
      padding-top: 15%; }
    section .hero {
      height: 45vh; } }

.footer {
  background-color: #222830;
  color: #ffffff;
  padding: 2rem 6rem; }

.card {
  box-shadow: 1px 1px 5px #181c21;
  padding: 15px 25px;
  background-color: #282f38; }
  .card .card-img {
    width: 100%; }
  .card .tag {
    background-color: #8478F4;
    color: #ffffff;
    padding: 2px 15px;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 25px;
    margin-bottom: 15px; }
