$color-primary: #9400D3;
$color-secondary: #00BFFF;
$color-tertiary: #cfc0be;

$color-grey-light: #EEEEEE;

$text-color-light: #ffffff;
$text-color-dark: #444444;

//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 1rem;