nav {
    ul {
        list-style-type: none;
        display: flex;
        li {
            
            a {
                color: inherit;
                text-decoration: none;
                margin: 0 15px;
            }
        }
    }

}



@media (min-width: 320px) and (max-width: 768px) {
    nav {
        ul {
            display:block;
            li {
                width: 100%;
            }
        }
    }
}