section {
    padding: 2rem 6rem;

    &:nth-child(even) {
        background-color: $text-color-dark;
        color: $text-color-light;
    }

    &:nth-child(odd) {
        background-color: $color-grey-light;
        color: $text-color-dark;
    }
}