.nav {
    background: #151515;
    overflow: hidden;
    height: 100vh;
    min-width: 200px;
    max-width: 20%;
    text-align: center;
    padding: 15px 25px;
  
  }
.nav > p {
  text-align: center;
}

.nav-link {
  display: block;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.nav-link.active {
  background: rgba(255,255,255,0.5);
}


@media (max-width:768px) {
  .nav {
    display: block;
    height: fit-content;  
    min-width: 100%;
    overflow: hidden;
  }

  .profile-img {
    display: none;
    
  }

  .nav-text {
    display: none;
  }
}
