.card {
    box-shadow: 1px 1px 5px $text-color-dark;
    padding: 15px 25px;
    background-color: darken($background-color-med, 5%);
    transition: transform 0.5s;
    flex: 0 32%;
    margin-bottom: 1rem;
    

    &:hover {
        transform: scale(1.1);
    }
    .card-img {
        width: 100%;
        border-radius: 2px;
    }
    .tag {
        background: linear-gradient($color-secondary, darken($color-secondary, 15%));
        color: $text-color-light;
        padding: 2px 15px;
        font-size: 0.9rem;
        font-weight: 400;
        border-radius: 25px;
        margin-bottom: 15px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .card {
        flex: 100%;
    }
}