
.paragraph {
    font-weight: 200;
}

a {
    color: inherit;
    font-weight:  calc(inherit + 100);
    text-decoration: none;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }

}

.highlight {
    color: $color-primary;
}