.heading-primary {
    font-size: 2rem;
}
.heading-secondary {
    text-transform: lowercase;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.heading-tertiary {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2rem;
}

.paragraph {
    font-weight: 200;
}

.link {
    color: inherit;
    font-weight:  calc(inherit + 100);
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid;
    }

}