@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
    background-color: #1E1E1E;
}

a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
}
h1 {
    font-size: 2em;
}

p {
	margin-bottom: 15px;
    font-size: 1.25em;
}

.navbar li a:hover {
	background-color: #1A1A1A;
}

section {
	display: flex;
	flex-direction: column;
	padding: 20px 100px;
}


.portfolio-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -1em 0 1em -0.5em;
	justify-content: space-around;
}

.portfolio-item {
	padding: 1em 0 0 0.5em;
  flex: 1 0 20em;
  max-width: 20em;
  width: auto;
  margin: initial;
}

.portfolio-item img {
	width: 100%;
}

.portfolio-item .technologies li:first-child {
	margin-left: 0px;
}

#footer {
	color: #FFF;
	background-color: #1C1C1C;
	text-align: center;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer .fa {
	font-size: 2em;
}

/*--Media Queries--*/
@media only screen and (max-width: 1000px) {
	.container {
		width: 90% !important;
	}

	section {
		padding: 20px;
	}
}

@media only screen and (max-width: 720px) {
	.container {
		width: 100% !important;
		margin: 0 auto;
	}

	section {
		padding: 10px;
	}

}
