html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* NAV STYLING */

.nav {
    background-color: #000000;
}

.nav > ul {

}

.nav > ul > li{
    display: inline-block;
    width: 24%;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0px;
}

.nav > ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
}
/* SECTION STYLING */
.section {
    color: #FFFFFF;
    background-color: #223343;
    padding: 5% 10%;
}

.section > .header {
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    filter:drop-shadow(2px 2px 0px #AF0064);
}

.subheader {
    color: #007A7C;
    text-align: center;
}

.section:nth-child(odd) {
    color: #223343;
    background-color: #FFFFFF;
}

#contact {
    height: 95vh;
    background-color: grey;
}

/* CARD STYLING */
.card {
    color: #000000;
    width: 29%;
    padding: 1%;
    margin: 1%;
    display: inline-block;
    filter:drop-shadow(5px 5px 0px #AF0064);
    background-color: #EAD9C6;
}
